.btn {
    display: block;
    width: 100%;
    padding: 14px 10px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #5f0080;
}

.btn:disabled {
    cursor: wait;
    background-color: #eee;
    border-color: #eee;
}

.basic {
    background-color: #5f0080;
    border-color: #5f0080;
    color: #fff;
}

.white {
    background-color: #fff;
    border-color: #5f0080;
    color: #5f0080;
}