.goods_wrap {
    width: 1050px;
    margin: 30px auto 0;
    padding-bottom: 40px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main .img_area {
    width: 430px;
}

.main .img_area img {
    width: 100%;
}

.main .detail_area {
    width: 560px;
}

.main .detail_area .tit {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

.main .detail_area .money {
    display: flex;
    padding-top: 20px;
}

.main .detail_area .money > p {
    padding-right: 9px;
    font-size: 28px;
    color: #fa622f;
    font-weight: bold;
}

.main .detail_area .money > strong {
    font-size: 18px;
}

.main .detail_area .money > strong span {
    padding-right: 4px;
    font-size: 28px;
    color: #333;
}

.main .detail_area .before {
    font-size: 16px;
    color: #b5b5b5;
    letter-spacing: -0.5px;
    text-decoration: line-through;
}

.main .detail_area .origin {
    color: #333;
    font-size: 24px;
    letter-spacing: -0.5px;
    margin-top: 8px;
}

.detail_area .detail_list {
    margin-top: 20px;
    border-bottom: 1px solid #f4f4f4;
}

.detail_area .detail_list li {
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    align-items: flex-start;
    padding: 17px 0px 18px;
    font-size: 14px;
    letter-spacing: -0.5px;
    border-top: 1px solid #f4f4f4;
}

.detail_area .detail_list li > div:first-child {
    width: 128px;
    height: 100%;
    color: #666;
    line-height: 19px;
}

.detail_area .detail_list li > div:last-child  {
    color: #333;
    line-height: 19px;
    white-space: pre-line;
    word-break: break-all;
    overflow: hidden;
}

.nav {
    position: sticky;
    top: 0;
    margin-top: 100px;
    border:1px solid #eee;
}

.nav ul {
    display: flex;
    text-align: center;
    background-color: #fafafa;
}

.nav ul li {
    flex: 1;
}

.nav ul li ~ li  {
    border-left: 1px solid #eee;
}

.nav ul li a {
    display: block;
    padding: 19px 0;
}

.section {
    padding-top: 60px;
}

.section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;

}

.review_area {
    border-top: 1px solid #333;
}

.review_area li {
    display: flex;
    position: relative;
    padding: 30px 0px 19px 20px;
    border-bottom: 1px solid #f4f4f4
}

.review_area li > div:first-child {
    display: flex;
    align-items: baseline;
    width: 225px;
}

.review_area li > div {
    width: calc(100% - 225px);
}

.detail_text_area strong {
    font-family: 'ns';
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #999;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.detail_text_area p {
    padding-top: 12px;
    padding-right: 20px;
    word-break: break-word;
    white-space: pre-wrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333;
}

.detail_img_area {
    margin-top: 10px;
}

.date {
    color: #999;
    font-size: 14px;
    padding-top: 20px;
    padding-right: 20px;
}

.label {
    display: inline-block;
    height: 18px;
    border: 1px solid #5f0080;
    border-radius: 3px;
    padding: 3px 4px 3px 5px;
    margin-right: 4px;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    word-break: keep-all;
    color: #5f0080;
}

.label.members {
    color: #fff;
    background-color: #4dbed7;
    border-color:#4dbed7;
}

.label.best {
    color: blue;
    color: #fff;
    background-color: #5f0080;
}

.name {
    font-size: 14px;
    font-weight: 400;
}

.good_btn {
    position: absolute;
    right:20px;
    bottom:13px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 88px;
    height: 32px;
    padding: 0px 13px 0px 11px;
    border: 1px solid #e2e2e2;
    border-radius: 20px;
    font-size: 12px;
    line-height: 20px;
    color: #999;
}

.good_btn span {
    margin-left: 3px;
}

.good_btn:hover,
.good_btn.active {
    color: #5f0080;
    border-color: #5f0080;
}