.login_area {
    width:340px;
    margin: 90px auto 60px;
}

.login_area h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.login_area form {
    margin-top: 30px;
}

.login_area form input ~ input {
    margin-top: 12px;
}

.Link_area {
    margin-top: 10px;
    text-align: right;
}

.Link_area a {
    color: #333;
    font-size: 13px;
}

.Link_area a ~ a {
    position: relative;
    margin-left: 6px;
    padding-left: 6px;
}

.Link_area a ~ a::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
    width: 1px;
    height: 10px;
    background: #333;
}

.btn_area {
    margin-top: 30px;
}

.btn_area a ~ *,
.btn_area button ~ * {
    margin-top: 10px;
}

.errors {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4;
    color: red;
}