.recent_wrap {
	position: fixed;
	right: 10px;
	top: 600px;
	z-index: 1000;
	width: 78px;
	max-height: 280px;
	border: 1px solid #dbdbdb;
	background-color: #fff;
	padding: 10px 5px;
	overflow: hidden;
}

.tit {
	font-size: 12px;
	color: #333;
	text-align: center;
}

.recent_swiper {
	max-height: 270px;
}

.slide_cont {
	height: 80px !important;
	background: red
}